<!DOCTYPE html>

<html lang="zh">
    {% include 'layout.html' %}
    <body>
        <div class="container">
            {% include 'header.html' %}
            <div class="section">
                <div class="upload-container">
                    <div class="image-box">
                        <img src="{{ request.args.get('image1') }}" alt="Image 1" style="width: 100%; height: 100%;">
                    </div>
                    <div class="image-box">
                        <img src="{{ request.args.get('image2') }}" alt="Image 2" style="width: 100%; height: 100%;">
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            
            <div class="divider"></div>
            {% include 'footer.html' %}
        </div>
    </body>
</html>